{% extends "base.html" %}

{% block title %}Contact | Karim Zaky{% endblock %}

{% block content %}
<section class="page-container">
    <h1>Contact Me</h1>

    <p>
        Email:
        <a href="mailto:kzaky1@jh.edu">kzaky1@jh.edu</a>
    </p>

    <p>
        LinkedIn:
        <a
            href="https://www.linkedin.com/in/karim-zaky-73a91bb3"
            target="_blank"
            rel="noopener noreferrer"
        >
            View my LinkedIn profile
        </a>
    </p>
</section>
{% endblock %}